<div class="bg-gray-100 px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-col sm:flex-row sm:items-center mb-5"><span class="text-2xl font-medium text-gray-900">Deal
      of the Week</span>
    <div class="flex items-center flex-auto mt-5 sm:mt-0">
      <div class="bg-indigo-50 w-[4rem] mx-2" style="height: 7px;"></div>
      <div class="flex items-center p-2 bg-indigo-50 rounded-md"><span class="text-indigo-500 text-xl font-medium">Ends
          in</span><span class="block bg-indigo-500 text-white rounded-md px-3 py-2 ml-2">{{timeRemains['days']}} days
          {{timeRemains['hours']}}:{{timeRemains['minutes']}}:{{timeRemains['seconds']}}</span></div>
      <div class="bg-indigo-50 ml-2 flex-auto" style="height: 7px;"></div>
    </div>
  </div>
  <div class="grid grid-cols-12 -mt-3 -ml-3 -mr-3">
    <div *ngFor="let prod of products" class="col-span-12 md:col-span-6 lg:col-span-3 mb-5 lg:mb-0">
      <div class="p-2">
        <div class="font-medium mb-3 uppercase flex items-center gap-3">{{prod.name}} <i
            class="pi pi-fw pi-arrow-right text-2xl ml-2 hover:text-green-500 cursor-pointer"
            [routerLink]="'/products/' + prod.id"></i>
        </div>
        <div class="mb-3">
          <span class="line-through mr-3 text-gray-600 text-xl">{{getMaxOriginPrice(prod) |
            currency:'INR':'symbol-narrow'}}</span>
          <span class="block font-medium text-xl text-pink-500">{{getMinPrice(prod) |
            currency:'INR':'symbol-narrow'}} - {{getMaxPrice(prod) |
            currency:'INR':'symbol-narrow'}}</span>
        </div>
        <img [src]="prod.productImages[0].imgUrl" class="block mb-3 w-full">
        <div class="mb-4 bg-gray-300 rounded-md overflow-hidden" style="height: .5rem;">
          <div class="bg-gray-900 w-6 h-full"></div>
        </div>
        <div class="flex items-center justify-between"><span class="text-gray-600">Sold: 1</span><span
            class="text-gray-900 font-medium">Available: {{prod.stock}}</span></div>
      </div>
    </div>
  </div>
</div>
