<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-5"><span
      class="text-900 text-3xl font-medium">CATEGORY TITLE</span>
    <ul class="list-none p-0 m-0 flex mt-3 md:mt-0">
      <li><a tabindex="0"
          class="cursor-pointer text-900 font-bold text-xl block hover:surface-200 transition-colors transition-duration-300 border-round px-3 py-2">NEW</a>
      </li>
      <li><a tabindex="0"
          class="cursor-pointer text-600 font-medium text-xl block hover:surface-200 transition-colors transition-duration-300 border-round px-3 py-2">SALE</a>
      </li>
      <li><a tabindex="0"
          class="cursor-pointer text-600 font-medium text-xl block hover:surface-200 transition-colors transition-duration-300 border-round px-3 py-2">POPULAR</a>
      </li>
    </ul>
  </div>
  <div class="grid -mt-3 -ml-3 -mr-3">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-2">
        <div class="relative mb-3">
          <img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-8-1.png"
            class="w-full">
        </div>
        <div class="surface-section pt-3 z-1 relative transition-all transition-duration-300">
          <div class="text-center text-700 font-medium text-xl mb-3">BRAND</div>
          <div class="mb-3 text-center"><i class="pi pi-star-fill text-yellow-500 mr-1"></i><i
              class="pi pi-star-fill text-yellow-500 mr-1"></i><i class="pi pi-star-fill text-yellow-500 mr-1"></i><i
              class="pi pi-star-fill text-yellow-500 mr-1"></i><i class="pi pi-star-fill text-300"></i></div>
          <div class="text-center text-900 text-xl mb-3">Product Name</div>
          <div class="text-center text-900 font-medium text-xl mb-3">$50.00</div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-2">
        <div class="relative mb-3"><!----><img
            src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-8-2.png"
            class="w-full"><!----></div>
        <div class="surface-section pt-3 z-1 relative transition-all transition-duration-300">
          <div class="text-center text-700 font-medium text-xl mb-3">BRAND</div>
          <div class="mb-3 text-center"><i class="pi pi-star-fill text-yellow-500 mr-1"></i><i
              class="pi pi-star-fill text-yellow-500 mr-1"></i><i class="pi pi-star-fill text-yellow-500 mr-1"></i><i
              class="pi pi-star-fill text-yellow-500 mr-1"></i><i class="pi pi-star-fill text-300"></i></div>
          <div class="text-center text-900 text-xl mb-3">Product Name</div>
          <div class="text-center text-900 font-medium text-xl mb-3">$50.00</div>
        </div>
        <div class="hidden">
          <div class="flex justify-content-center align-items-center gap-2">
            <p-button styleClass="border-circle" icon="pi pi-eye"></p-button>
            <p-button styleClass="border-circle" icon="pi pi-cart-plus"></p-button>
            <p-button styleClass="border-circle" icon="pi pi-heart"></p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-2">
        <div class="relative mb-3"><!----><img
            src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-8-3.png"
            class="w-full"><!----></div>
        <div class="surface-section pt-3 z-1 relative transition-all transition-duration-300">
          <div class="text-center text-700 font-medium text-xl mb-3">BRAND</div>
          <div class="mb-3 text-center"><i class="pi pi-star-fill text-yellow-500 mr-1"></i><i
              class="pi pi-star-fill text-yellow-500 mr-1"></i><i class="pi pi-star-fill text-yellow-500 mr-1"></i><i
              class="pi pi-star-fill text-yellow-500 mr-1"></i><i class="pi pi-star-fill text-300"></i></div>
          <div class="text-center text-900 text-xl mb-3">Product Name</div>
          <div class="text-center text-900 font-medium text-xl mb-3">$50.00</div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-2">
        <div class="relative mb-3"><!----><img
            src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-8-4.png"
            class="w-full"><!----></div>
        <div class="surface-section pt-3 z-1 relative transition-all transition-duration-300">
          <div class="text-center text-700 font-medium text-xl mb-3">BRAND</div>
          <div class="mb-3 text-center"><i class="pi pi-star-fill text-yellow-500 mr-1"></i><i
              class="pi pi-star-fill text-yellow-500 mr-1"></i><i class="pi pi-star-fill text-yellow-500 mr-1"></i><i
              class="pi pi-star-fill text-yellow-500 mr-1"></i><i class="pi pi-star-fill text-300"></i></div>
          <div class="text-center text-900 text-xl mb-3">Product Name</div>
          <div class="text-center text-900 font-medium text-xl mb-3">$50.00</div>
        </div>
      </div>
    </div>
  </div>
</div>
