<div class="bg-white">
  <div class="flex flex-col text-center items-start px-5 py-8 bg-cover mb-3 lg:px-36"
    style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../../../assets/imgs/benefits-bg-new.jpg') fixed;">
    <div class="text-5xl font-bold text-white mb-3">Benefits Of Dry <br>
      Fruits and Nuts</div>
    <p class="leading-6 text-white text-xl font-medium mt-0 mb-5">Dry Fruits and nuts everyday will <br>
      keep diseases and stress away.</p>

    <button pButton pRipple label="Know More" routerLink="/knowledge"
      class="p-button-success px-3 py-2 text-xl text-white bg-green-500"></button>

  </div>
  <div class="w-full text-center my-12">
    <span class="text-gray-900 text-3xl font-medium">WHAT OUR CLIENTS SAY</span>
  </div>
  <div class="flex flex-col lg:flex-row gap-3">
    <div class="flex-1 p-5 border rounded-lg shadow-lg">
      <img src="https://blocks.primeng.org/assets/images/blocks/avatars/circle/avatar-f-1.png"
        class="w-[3rem] h-[3rem] block mb-3">
      <div class="text-gray-900 leading-6 mb-3"> "Premium quality of dryfruits with best prices." </div>
      <span class="text-md font-medium text-gray-900">Brooklyn Simmons</span>
    </div>
    <div class="flex-1 p-5 border rounded-lg shadow-lg">
      <img src="https://blocks.primeng.org/assets/images/blocks/avatars/circle/avatar-f-4.png"
        class="w-[3rem] h-[3rem] block mb-3">
      <div class="text-gray-900 leading-6 mb-3"> "Really awesome test and ultimate packing... Very genuine product...
        Thanks" </div>
      <span class="text-md font-medium text-gray-900">Jenny
        Wilson</span>
    </div>
    <div class="flex-1 p-5 border rounded-lg shadow-lg"><img
        src="https://blocks.primeng.org/assets/images/blocks/avatars/circle/avatar-f-6.png"
        class="w-[3rem] h-[3rem] mb-3">
      <div class="text-gray-900 leading-6 mb-3"> "Blueberries and other dryfruits quality is really good. Nice packing.
        You can carry easily along with you in office. Value for money product." </div>
      <span class="text-md font-medium text-gray-900">Floyd
        Miles</span>
    </div>
  </div>
</div>
