<div class="title-all-pages">
  <div class="img">
    <img src="../../../assets/imgs/dry-fruits-nuts-header.png" alt="" />
  </div>
  <h1 class="listing-title text ">Benefits of Dry Fruits and Nuts</h1>
</div>
<div class="row">
  <div class="benefits-title text">
    <h5>Dry fruits and nuts everyday will keep diseases and stress away.</h5>
    <p class="nomargin">It is a known fact that dry fruits and nuts are packed with essential nutrients. Though
      available in small packages, they are an abundant source of proteins, vitamins, minerals and dietary fiber. Right
      from skin benefits to medicinal benefits, dry fruits and nuts give you every reason to include them in your diet.
      Some of the benefits are listed below:</p>
  </div>

</div>


<div class=" image-container ">
  <div class="img">
    <img src="../../../assets/imgs/benefits-heart-diseases-bg-img.jpg" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class=" text-overlay text-left text">
        <h2>Keep Heart Diseases at Bay</h2>
        <p class="nomargin">A great way to prevent cardiovascular problems, dry fruits and nuts help reduce the risk of
          coronary heart problems.<br>
          Nuts such as cashews contain mono-unsaturated fats, or the good fat that promote cardiovascular health.<br>
          While pistachios contain vitamin B6 that prevents heart problems, dates protect us from atherosclerosis<br>
          which is a major cause of strokes.</p>
      </div>
    </div>
  </div>
</div>
<div class=" image-container ">
  <div class="img">
    <img src="../../../assets/imgs/benefits-prevent-anemia-bg-img.jpg" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class=" text-overlay text-right text">
        <h2>Prevent Anemia</h2>
        <p class="nomargin">With high iron levels, dry fruits like prunes, raisins, and apricots are essentials to fight
          or prevent anemia.<br>
          Dry fruits have optimal levels of vitamins and minerals, and are a natural solution for weight management.</p>
      </div>
    </div>
  </div>
</div>
<div class=" image-container ">
  <div class="img">
    <img src="../../../assets/imgs/benefits-maintain-cholesterol-bg-img.jpg" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class=" text-overlay text-left text">
        <h2>Maintain Cholesterol</h2>
        <p class="nomargin">Dry fruits are a necessary portion in your daily diet ,they help to maintain your
          cholesterol level.<br>
          While cashews contain zero cholesterol, pistachios contain fats that are helpful in lowering high cholesterol
          levels.<br>
          Rich in iron, phosphorus, potassium, and magnesium, raisins promote blood circulation. A daily dose of
          almonds, raisins<br>
          and pistachios will go a long way in maintaining your cholesterol levels.</p>
      </div>
    </div>
  </div>
</div>
<div class=" image-container ">
  <div class="img">
    <img src="../../../assets/imgs/benefits-improve-levels-bg-img.jpg" alt="" />
    <div class="row">
    </div>
    <div class="container">
      <div class=" text-overlay text-right text ">
        <h2>Beneficial for Crucial Body Organs</h2>
        <p class="nomargin">Raisins alone are a powerful source of calcium and vitamin A that are beneficial for bone
          formation and <br>
          prevent weakening of vision. Containing high levels of magnesium and calcium, cashews support healthy
          muscles<br>
          and gums. Termed as the &lsquo;Brain Food&rsquo;, walnuts contain omega-3 fatty acids that are essential for
          brain development.</p>
      </div>
    </div>
  </div>
</div>
<div class=" image-container ">
  <div class="img">
    <img src="../../../assets/imgs/benefits-body-organs-bg-img.jpg" alt="" />
    <div class="row">
    </div>
    <div class="container">
      <div class=" text-overlay text-left text">
        <h2>Beneficial for Crucial Body Organs</h2>
        <p class="nomargin">Raisins alone are a powerful source of calcium and vitamin A that are beneficial for bone
          formation and prevent weakening of vision.<br>
          Containing high levels of magnesium and calcium, cashews support healthy muscles and gums. Termed as the
          &lsquo;Brain Food&rsquo;,<br>
          walnuts contain omega-3 fatty acids that are essential for brain development.</p>
      </div>
    </div>
  </div>
</div>
