<div class="surface-50 px-4 py-8 md:px-6 lg:px-8"><span
    class="text-900 text-3xl font-medium block text-center lg:text-left">Get 25% Discount Today!</span><span
    class="text-600 text-2xl block mt-4 text-center lg:text-left">Please enter your email to track our products</span>
  <div class="mt-4 mx-auto lg:mx-0" style="max-width: 38rem;">
    <div class="p-inputgroup"><input type="text" pinputtext="" placeholder="Enter your email address"
        class="p-inputtext p-component p-element"><button type="button" pbutton="" pripple="" label="Subscribe"
        class="p-element p-ripple surface-900 text-0 px-5 border-none p-button p-component"><span
          class="p-button-label">Subscribe</span><span class="p-ink"></span></button></div>
  </div><p-divider layout="horizontal" class="p-element surface-border">
    <!-- <div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
    </div> -->
  </p-divider>
  <div class="grid grid-nogutter text-center lg:text-left">
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column align-items-center lg:align-items-start"><img
        src="../../../assets/imgs/hyper.svg" alt="Peak logo"
        class="w-9rem mx-auto lg:mx-0">
      <div class="flex align-items-center w-full mt-5 justify-content-center lg:justify-content-start"><a tabindex="0"
          class="cursor-pointer mr-3"><i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"></i></a><a
          tabindex="0" class="cursor-pointer mr-3"><i
            class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"></i></a><a tabindex="0"
          class="cursor-pointer mr-3"><i class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"></i></a><a
          tabindex="0" class="cursor-pointer"><i
            class="pi pi-google surface-900 p-1 text-sm border-circle text-0"></i></a></div><span
        class="text-600 block mt-4"><i class="pi pi-phone mr-2"></i>1234 / 12 34 567</span><a routerLink="/contact-us" tabindex="0"
        class="text-600 block mt-4 cursor-pointer hover:text-900 transition-duration-150 select-none w-8rem"><i
          class="pi pi-map-marker mr-2"></i>Contact Us</a>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column"><span
        class="text-900 text-xl font-medium block">CATEGORIES</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Dry Fruits</a></li>
        <li><a tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Seeds</a></li>
        <li><a tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Dates</a></li>
        <li><a tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Nuts & Berries</a></li>
      </ul>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column"><span
        class="text-900 text-xl font-medium block">MY ACCOUNT</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">My Account</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Order History</a></li>
        <li><a tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Wishlist</a></li>
      </ul>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column"><span
        class="text-900 text-xl font-medium block">LEGAL</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Investor
            Relations</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Data
            Privacy</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Terms of
            Service</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Legal
            Information</a></li>
      </ul>
    </div>
  </div>
</div>
