<div
  class="bg-gray-900 px-3 sm:px-6 py-3 flex align-items-stretch justify-content-center sm:justify-content-end border-bottom-1 surface-border text-sm">
  <a routerLink="/login" pRipple
    class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200 no-underline">
    <i class="pi pi-sign-in mr-2 sm:mr-3 text-sm"></i>
    <span>Login</span>
  </a>
  <div class="text-white mx-1 sm:mx-2">|</div>
  <a routerLink="/register" pRipple
    class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200 no-underline">
    <i class="pi pi-user mr-2 sm:mr-3 text-sm"></i>
    <span>Create Account</span>
  </a>
</div>
<div class="surface-overlay px-3 sm:px-6 flex align-items-stretch sticky top-0 border-bottom-1 border-200 z-5"
  style="min-height: 80px">
  <a pRipple pStyleClass="#nav-1" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
    leaveActiveClass="fadeout" [hideOnOutsideClick]="true"
    class="p-ripple p-element cursor-pointer flex align-items-center lg:hidden text-700 mr-3 sm:mr-5"><i
      class="pi pi-bars text-4xl"></i></a>
  <div class="flex align-items-center justify-content-center">
    <img routerLink="/" src="https://blocks.primeng.org/assets/images/blocks/logos/hyper.svg" alt="Image"
      class="lg:mr-6 h-2rem sm:h-3rem cursor-pointer" />
  </div>
  <div id="nav-1"
    class="surface-overlay hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full lg:w-auto py-3 lg:py-0">
    <ul class="list-none p-0 m-0 flex flex-column lg:flex-row">
      <li class="flex flex-column lg:flex-row">
        <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
          leaveActiveClass="fadeout" [hideOnOutsideClick]="true"
          class="p-ripple p-element inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"><span>DRY FRUITS</span><span class="p-ink"
            style="height: 89px; width: 89px; top: -15.5px; left: 15.4688px"></span></a>
        <div
          class="surface-overlay shadow-none lg:shadow-2 lg:absolute w-full left-0 top-100 pl-8 pr-6 lg:px-6 py-0 lg:py-3 hidden">
          <div class="flex flex-column lg:flex-row lg:justify-content-between">
            <div class="flex-1 flex flex-wrap">
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href="">
                <img src="../../../assets/imgs/cashew.png" alt="">
                Cashew (Kaju)</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href="">
                <img src="../../../assets/imgs/anjir.png" alt="">
                Anjir (Figs)</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/kishmish.png" alt="">Kishmish (Raisins)</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/walnuts.png" alt="">Walnuts
                (Akhrot)</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/trail-mix.jpg" alt="">Trail
                Mix</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/sprinkles.png" alt="">Sprinkles</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/saffron.png" alt="">Saffron
                (Kesar)</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/pistachios.png" alt="">Pistachios (Pista)</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/mix-dryfruits.png" alt="">Mix
                Dryfruits</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/jardalu.png" alt="">Jardalu
                (Apricots)</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/home-made-dryfruit-chocolate.png" alt="">Home
                Made Dryfruits Chocolate</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/elaichi.png" alt="">Elaichi</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/dryfruits-potlis.png" alt="">Dryfruits Potlis</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/dryfruit-milk-powder.png" alt="">Dryfruit Milk Powder</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/dryfruit-combo.png" alt="">Dryfruit Combo</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/dried-fruits.jpg" alt="">Dried
                Fruits</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/coconut-powder.png" alt="">Coconut
                Powder</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/almonds.png" alt="">Almonds
                (Badam)</a>
            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-column lg:flex-row">
        <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
          leaveActiveClass="fadeout" [hideOnOutsideClick]="true"
          class="p-ripple p-element inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"><span>SEEDS</span><span class="p-ink"
            style="height: 89px; width: 89px; top: -15.5px; left: 15.4688px"></span></a>
        <div
          class="surface-overlay shadow-none lg:shadow-2 lg:absolute w-full left-0 top-100 pl-8 pr-6 lg:px-6 py-0 lg:py-3 hidden">
          <div class="flex flex-column lg:flex-row lg:justify-content-between">
            <div class="flex-1 flex flex-wrap">
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href="">
                <img src="../../../assets/imgs/waterseed.png" alt="">WATER MELON SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href="">
                <img src="../../../assets/imgs/sunflowerseed.png" alt="">SUNFLOWER SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/sevenseed.png" alt="">SEVEN SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/quinoaseed.png" alt="">QUINOA SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/pumkinseed.png" alt="">PUMPKIN SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/flaxseed.png" alt="">FLAX SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/chiaseed.png" alt="">CHIA SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/chickpeaseed.jpg" alt="">CHICKPEA SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/oatsseed.jpg" alt="">OATS SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/milletsseed.jpg" alt="">MILLETS SEEDS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/jowarseed.jpg" alt="">JOWAR SEEDS</a>
            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-column lg:flex-row">
        <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
          leaveActiveClass="fadeout" [hideOnOutsideClick]="true"
          class="p-ripple p-element inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"><span>DRY FRUITS</span><span class="p-ink"
            style="height: 89px; width: 89px; top: -15.5px; left: 15.4688px"></span></a>
        <div
          class="surface-overlay shadow-none lg:shadow-2 lg:absolute w-full left-0 top-100 pl-8 pr-6 lg:px-6 py-0 lg:py-3 hidden">
          <div class="flex flex-column lg:flex-row lg:justify-content-between">
            <div class="flex-1 flex flex-wrap">
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href="">
                <img src="../../../assets/imgs/safawidates.png" alt="">SAFAWI DATES</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href="">
                <img src="../../../assets/imgs/omandates.png" alt="">OMAN DATES</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/medjouldates.png" alt="">MEDJOUL DATES</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/khimiya.png" alt="">KHIMIYA DATES</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/ajwadates.png" alt="">AJWA DATES</a>
             
            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-column lg:flex-row">
        <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
          leaveActiveClass="fadeout" [hideOnOutsideClick]="true"
          class="p-ripple p-element inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"><span>DRY FRUITS</span><span class="p-ink"
            style="height: 89px; width: 89px; top: -15.5px; left: 15.4688px"></span></a>
        <div
          class="surface-overlay shadow-none lg:shadow-2 lg:absolute w-full left-0 top-100 pl-8 pr-6 lg:px-6 py-0 lg:py-3 hidden">
          <div class="flex flex-column lg:flex-row lg:justify-content-between">
            <div class="flex-1 flex flex-wrap">
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href="">
                <img src="../../../assets/imgs/Prunes.png" alt="">PRUNES</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href="">
                <img src="../../../assets/imgs/Pinenuts.png" alt="">PINENUTS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/Pecan.png" alt="">PECAN NUTS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/Makhana.png" alt="">MAKHANA (FOX NUTS)</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/Macadamia.png" alt="">MACADAMIA NUTS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../..src/assets/imgs/Hazelnuts.png" alt="">HAZELNUTS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/Fusion.png" alt="">FUSION</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/Cranberry.png" alt="">CRANBERRY</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/Brazil.png" alt="">BRAZIL NUTS</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/Blueberry.png" alt="">BLUEBERRY</a>
              <a class="text-700 hover:text-900 no-underline col-3 flex align-items-center column-gap-3" href=""><img
                  src="../../../assets/imgs/Black.png" alt="">BLACK CURRANTS</a>
              
            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-column lg:flex-row">
        <a routerLink="/about-us" pRipple
          class="p-ripple p-element inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto no-underline">
          About us
        </a>
      </li>
      <li class="flex flex-column lg:flex-row">
        <a routerLink="/contact-us" pRipple
          class="p-ripple p-element inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto no-underline">
          Contact us
        </a>
      </li>
    </ul>
  </div>
  <div class="flex ml-auto">
    <ul class="list-none p-0 m-0 flex">
      <li class="flex">
        <a pRipple
          class="p-ripple p-element text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 hover:text-primary"><i
            class="pi pi-search mr-2 lg:mr-3 text-xl sm:text-base"></i><span class="hidden lg:inline">Search</span><span
            class="p-ink" style="height: 112px; width: 112px; top: -40px; left: -8.76562px"></span></a>
      </li>
      <li class="flex">
        <a pRipple
          class="p-ripple p-element text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 hover:text-primary"><i
            class="pi pi-heart mr-2 lg:mr-3 text-xl sm:text-base"></i><span
            class="hidden lg:inline">Favorites</span><span class="p-ink"
            style="height: 129px; width: 129px; top: -30.5px; left: 27.5469px"></span></a>
      </li>
      <li class="flex">
        <a pRipple (click)="cartSidebar = true"
          class="p-ripple p-element text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 hover:text-primary"><i
            pBadge class="p-element pi pi-shopping-cart lg:mr-3 text-xl sm:text-base p-overlay-badge"><span
              id="pr_id_1_badge" class="p-badge p-component p-badge-dot"></span></i><span
            class="hidden lg:inline">Cart</span></a>
      </li>
    </ul>
  </div>
</div>

<p-sidebar [(visible)]="cartSidebar" [blockScroll]="true" styleClass="p-sidebar-md" [showCloseIcon]="false"
  position="right">
  <app-cart-sidebar (onHide)="cartSidebar = !$event"></app-cart-sidebar>
</p-sidebar>
