<div class="auth">
  <a routerLink="/login" class="auth-action">
    <i class="pi pi-sign-in mr-2 sm:mr-3 text-sm"></i>
    <span>Login</span>
  </a>
  <div class="text-white mx-1 sm:mx-2">|</div>
  <a routerLink="/register" class="auth-action">
    <i class="pi pi-user mr-2 sm:mr-3 text-sm"></i>
    <span>Create Account</span>
  </a>
</div>
<div class="bg-white px-3 sm:px-6 flex items-stretch sticky top-0 border-b z-10" style="min-height: 80px">
  <a pStyleClass="#nav-1" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
    leaveActiveClass="fadeout" [hideOnOutsideClick]="true"
    class="cursor-pointer flex items-center lg:hidden text-gray-500 mr-3 sm:mr-5"><i
      class="pi pi-bars text-4xl"></i></a>
  <div class="flex items-center justify-center">
    <img routerLink="/" src="https://blocks.primeng.org/assets/images/blocks/logos/hyper.svg" alt="Image"
      class="lg:mr-6 h-2rem sm:h-[3rem] cursor-pointer" />
  </div>
  <div id="nav-1"
    class="bg-white hidden lg:flex absolute lg:static left-0 top-full z-10 shadow-md lg:shadow-none w-full lg:w-auto py-3 lg:py-0">
    <ul class="list-none p-0 m-0 flex flex-col lg:flex-row">
      <li class="flex flex-col lg:flex-row">
        <a
          class="peer/navigation inline-flex items-center cursor-pointer border-r-2 lg:border-r-0 lg:border-b-2 border-transparent hover:border-blue-500 py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto">Dry
          fruits</a>
        <div
          class="peer-hover/navigation:block hover:block bg-white shadow-none lg:shadow-md lg:absolute w-full left-0 top-full px-6 py-0 lg:py-6 h-10rem lg:h-30rem z-10 hidden border">
          <div class="flex flex-col lg:flex-row lg:justify-between">
            <div class="flex-1 flex flex-wrap">
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href="">
                <img src="../../../assets/imgs/cashew.png" alt="">
                Cashew (Kaju)</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href="">
                <img src="../../../assets/imgs/anjir.png" alt="">
                Anjir (Figs)</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/kishmish.png" alt="">Kishmish (Raisins)</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/walnuts.png" alt="">Walnuts
                (Akhrot)</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/trail-mix.jpg" alt="">Trail
                Mix</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/sprinkles.png" alt="">Sprinkles</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/saffron.png" alt="">Saffron
                (Kesar)</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/pistachios.png" alt="">Pistachios (Pista)</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/mix-dryfruits.png" alt="">Mix
                Dryfruits</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/jardalu.png" alt="">Jardalu
                (Apricots)</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/home-made-dryfruit-chocolate.png" alt="">Home
                Made Dryfruits Chocolate</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/elaichi.png" alt="">Elaichi</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/dryfruits-potlis.png" alt="">Dryfruits Potlis</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/dryfruit-milk-powder.png" alt="">Dryfruit Milk Powder</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/dryfruit-combo.png" alt="">Dryfruit Combo</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/dried-fruits.jpg" alt="">Dried
                Fruits</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/coconut-powder.png" alt="">Coconut
                Powder</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/almonds.png" alt="">Almonds
                (Badam)</a>
            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-col lg:flex-row">
        <a
          class="peer/navigation inline-flex items-center cursor-pointer border-r-2 lg:border-r-0 lg:border-b-2 border-transparent hover:border-blue-500 py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto">Seeds</a>
        <div
          class="peer-hover/navigation:block hover:block bg-white shadow-none lg:shadow-md lg:absolute w-full left-0 top-full px-6 py-0 lg:py-6 h-10rem lg:h-30rem z-10 hidden border">
          <div class="flex flex-col lg:flex-row lg:justify-between">
            <div class="flex-1 flex flex-wrap">
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href="">
                <img src="../../../assets/imgs/cashew.png" alt="">
                Water Melon Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href="">
                <img src="../../../assets/imgs/anjir.png" alt="">
                Sunflower Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/kishmish.png" alt="">Seven Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/walnuts.png" alt="">Quinoa Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/trail-mix.jpg" alt="">Pumpkin Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/sprinkles.png" alt="">Flax Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/saffron.png" alt="">Chia Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/pistachios.png" alt="">Jowar Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/mix-dryfruits.png" alt="">Chickpea Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/pistachios.png" alt="">Oats Seeds</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/mix-dryfruits.png" alt="">Millets Seeds</a>

            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-col lg:flex-row">
        <a
          class="peer/navigation inline-flex items-center cursor-pointer border-r-2 lg:border-r-0 lg:border-b-2 border-transparent hover:border-blue-500 py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto">Dates</a>
        <div
          class="peer-hover/navigation:block hover:block bg-white shadow-none lg:shadow-md lg:absolute w-full left-0 top-full px-6 py-0 lg:py-6 h-10rem lg:h-30rem z-10 hidden border">
          <div class="flex flex-col lg:flex-row lg:justify-between">
            <div class="flex-1 flex flex-wrap">
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href="">
                <img src="../../../assets/imgs/cashew.png" alt="">
                Safawi Dates</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href="">
                <img src="../../../assets/imgs/anjir.png" alt="">
                Oman Dates</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/kishmish.png" alt="">Medjoul Dates</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/walnuts.png" alt="">Khimiya Dates</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/trail-mix.jpg" alt="">Ajwa Dates</a>
            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-col lg:flex-row">
        <a
          class="peer/navigation inline-flex items-center cursor-pointer border-r-2 lg:border-r-0 lg:border-b-2 border-transparent hover:border-blue-500 py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto">Nuts
          & Berries</a>
        <div
          class="peer-hover/navigation:block hover:block bg-white shadow-none lg:shadow-md lg:absolute w-full left-0 top-full px-6 py-0 lg:py-6 h-10rem lg:h-30rem z-10 hidden border">
          <div class="flex flex-col lg:flex-row lg:justify-between">
            <div class="flex-1 flex flex-wrap">
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href="">
                <img src="../../../assets/imgs/cashew.png" alt="">
                Prunes</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href="">
                <img src="../../../assets/imgs/anjir.png" alt="">
                Pinenuts</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/kishmish.png" alt="">Pecan Nuts</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/walnuts.png" alt="">Makhana
                (Fox Nuts)</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/trail-mix.jpg" alt="">Macadamia Nuts</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/sprinkles.png" alt="">Hazelnuts</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/saffron.png" alt="">Fusion</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/pistachios.png" alt="">Cranberry</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/mix-dryfruits.png" alt="">Brazil Nuts</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/jardalu.png" alt="">Blueberry</a>
              <a class="text-gray-500 hover:text-gray-900 no-underline w-1/4 flex items-center gap-x-3" href=""><img
                  src="../../../assets/imgs/home-made-dryfruit-chocolate.png" alt="">Black Currants</a>
            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-col lg:flex-row">
        <a routerLink="/about-us"
          class="inline-flex items-center cursor-pointer border-r-2 lg:border-r-0 lg:border-b-2 border-transparent hover:border-blue-500 py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto no-underline">
          About us
        </a>
      </li>
      <li class="flex flex-col lg:flex-row">
        <a routerLink="/contact-us"
          class="inline-flex items-center cursor-pointer border-r-2 lg:border-r-0 lg:border-b-2 border-transparent hover:border-blue-500 py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto no-underline">
          Contact us
        </a>
      </li>
    </ul>
  </div>
  <div class="flex ml-auto">
    <ul class="list-none p-0 m-0 flex">
      <li class="flex">
        <a class="text-gray-900 font-medium inline-flex items-center cursor-pointer px-2 sm:px-3 hover:text-blue-500"><i
            class="pi pi-search mr-2 lg:mr-3 text-xl sm:text-base"></i><span class="hidden lg:inline">Search</span></a>
      </li>
      
      <li class="flex">
        <a class="text-gray-900 font-medium inline-flex items-center cursor-pointer px-2 sm:px-3 hover:text-blue-500"><i
            class="pi pi-heart mr-2 lg:mr-3 text-xl sm:text-base"></i><span
            class="hidden lg:inline">Favorites</span></a>
      </li>
      <li class="flex">
        <a (click)="cartSidebar = true"
          class="text-gray-900 font-medium inline-flex items-center cursor-pointer px-2 sm:px-3 hover:text-blue-500"><i
            pBadge class="pi pi-shopping-cart lg:mr-3 text-xl sm:text-base"></i><span
            class="hidden lg:inline">Cart</span></a>
      </li>
    </ul>
  </div>
</div>

<p-sidebar [(visible)]="cartSidebar" [blockScroll]="true" styleClass="p-sidebar-md" [showCloseIcon]="false"
  position="right">
  <app-cart-sidebar (onHide)="cartSidebar = !$event"></app-cart-sidebar>
</p-sidebar>
