<div class="auth">
  <a routerLink="/login" class="auth-action">
    <i class="pi pi-sign-in mr-2 sm:mr-3 text-sm"></i>
    <span>Login</span>
  </a>
  <div class="text-white mx-1 sm:mx-2">|</div>
  <a routerLink="/register" class="auth-action">
    <i class="pi pi-user mr-2 sm:mr-3 text-sm"></i>
    <span>Create Account</span>
  </a>
</div>
<div class="bg-white px-3 sm:px-6 flex items-stretch sticky top-0 border-b z-50" style="min-height: 80px">
  <a pStyleClass="#nav-1" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
    leaveActiveClass="fadeout" [hideOnOutsideClick]="true"
    class="cursor-pointer flex items-center lg:hidden text-gray-500 mr-3 sm:mr-5"><i
      class="pi pi-bars text-4xl"></i></a>
  <div class="flex items-center justify-center">
    <img routerLink="/" src="https://blocks.primeng.org/assets/images/blocks/logos/hyper.svg" alt="Image"
      class="lg:mr-6 h-2rem sm:h-[3rem] cursor-pointer" />
  </div>
  <div id="nav-1"
    class="bg-white hidden lg:flex absolute lg:static left-0 top-full z-10 shadow-md lg:shadow-none w-full lg:w-auto py-3 lg:py-0">
    <ul class="list-none p-0 m-0 flex flex-col lg:flex-row">
      <li *ngFor="let item of categories" class="flex flex-col lg:flex-row">
        <a (click)="handleClickCategory(item)"
          class="peer/navigation group flex cursor-pointer border-r-2 lg:border-r-0 py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto">
          <div class="flex flex-col">
            <div class="flex flex-1 items-center">{{item.name}}</div>
            <div class="h-[3px] group-hover:w-full w-0 bg-green-500 self-end transition-all duration-500"></div>
          </div>
        </a>
        <div *ngIf="item.categories && item.categories.length"
          class="peer-hover/navigation:block hover:block bg-white shadow-none lg:shadow-md lg:absolute w-full left-0 top-full px-6 py-0 lg:py-6 h-10rem lg:h-30rem z-10 hidden border">
          <div class="flex flex-col lg:flex-row lg:justify-between">
            <div class="flex-1 flex flex-wrap">
              <a *ngFor="let subCategory of item.categories" (click)="handleClickCategory(subCategory)"
                class="group text-gray-500 hover:text-gray-900 no-underline w-1/4 flex-col cursor-pointer px-3">
                <div class="flex gap-x-3 items-center">
                  <img [src]="subCategory.thumbnail" alt="">
                  {{ subCategory.name }}
                </div>
                <div class="group-hover:w-full w-0 transition-all duration-500 h-[2px] bg-blue-500"></div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="flex flex-col lg:flex-row">
        <a routerLink="/about-us"
          class="group flex cursor-pointer py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto no-underline">
          <div class="flex flex-col">
            <div class="flex flex-1 items-center">About Us</div>
            <div class="h-[3px] group-hover:w-full w-0 bg-green-500 self-end transition-all duration-500"></div>
          </div>
        </a>
      </li>
      <li class="flex flex-col lg:flex-row">
        <a routerLink="/contact-us"
          class="group flex cursor-pointer py-3 lg:py-0 px-6 lg:px-3 text-gray-500 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto no-underline">
          <div class="flex flex-col">
            <div class="flex flex-1 items-center">Contact Us</div>
            <div class="h-[3px] group-hover:w-full w-0 bg-green-500 self-end transition-all duration-500"></div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="flex ml-auto">
    <ul class="list-none p-0 m-0 flex">
      <li class="flex">
        <a class="text-gray-900 font-medium inline-flex items-center cursor-pointer px-2 sm:px-3 hover:text-blue-500"><i
            class="pi pi-search mr-2 lg:mr-3 text-xl sm:text-base"></i><span class="hidden lg:inline">Search</span></a>
      </li>

      <li class="flex">
        <a class="text-gray-900 font-medium inline-flex items-center cursor-pointer px-2 sm:px-3 hover:text-blue-500"><i
            class="pi pi-heart mr-2 lg:mr-3 text-xl sm:text-base"></i><span
            class="hidden lg:inline">Favorites</span></a>
      </li>
      <li class="flex">
        <a (click)="cartSidebar = true"
          class="text-gray-900 font-medium inline-flex items-center cursor-pointer px-2 sm:px-3 hover:text-blue-500"><i
            pBadge class="pi pi-shopping-cart lg:mr-3 text-xl sm:text-base"></i><span
            class="hidden lg:inline">Cart</span></a>
      </li>
    </ul>
  </div>
</div>

<p-sidebar [(visible)]="cartSidebar" [blockScroll]="true" styleClass="p-sidebar-md" [showCloseIcon]="false"
  position="right">
  <ng-container *ngIf="cartSidebar">
    <app-cart-sidebar (onHide)="cartSidebar = !$event"></app-cart-sidebar>
  </ng-container>
</p-sidebar>
