<div *ngIf="product" class=" bg-white px-4 py-8 md:px-6 lg:px-8">
  <div class="grid grid-cols-12 mb-7">
    <div class="col-span-12 lg:col-span-6">
      <div class="flex">
        <div class="flex flex-col w-1/6 justify-start gap-1">
          <img *ngFor="let img of product.productImages"
            [ngClass]="{'border-2 border-green-500': selectedImg === img.id}" (click)="selectedImg = img.id"
            class="w-full cursor-pointer border rounded-md transition-all max-h-[115px] object-contain"
            [src]="img.imgUrl">
        </div>
        <div class="pl-3 w-5/6"><img class="w-full border rounded-md h-[550px] object-contain" [src]="currentImg">
        </div>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-6 py-3 lg:pl-6">
      <div class="flex items-center text-xl font-medium text-gray-900 mb-4">{{ product.name }}</div>
      <div class="flex items-center justify-between mb-5">
        <span class="text-gray-900 font-medium text-3xl block">{{(currentAttribute?.discountPrice ||
          currentAttribute?.originPrice) | currency:'INR':'symbol-narrow'}}
          <span class="text-xl"> | <span class="line-through">{{ currentAttribute?.discountPrice ?
              (currentAttribute?.originPrice | currency:'INR':'symbol-narrow') : '' }}</span></span>
        </span>
        <div class="flex items-center"><span class="mr-3">
            <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false"></p-rating>
          </span><span class="text-sm">
            <b class="text-gray-900 mr-1">{{ product.reviews.length }}</b>
            <span class="text-500"></span>reviews</span>
        </div>
      </div>
      <div class="mb-3 flex items-center justify-between"><span class="font-bold text-gray-900">Weight</span></div>
      <div class="grid grid-cols-12 grid-nogutter items-center mb-5">
        <p-dropdown [options]="weightDropdownOptions" [(ngModel)]="selectedAttribute" optionLabel="label"
          optionValue="value"></p-dropdown>
      </div>
      <div class="font-bold text-gray-900 mb-3">Quantity</div>
      <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
        <p-inputNumber [disabled]="!product.stock" [showButtons]="true" buttonLayout="horizontal"
          spinnerMode="horizontal" [min]="0" [max]="product.stock" [(ngModel)]="quantity"
          inputStyleClass="w-[3rem] text-center py-3 border" decrementButtonClass="p-button-text"
          incrementButtonClass="p-button-text" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
          class="p-element p-inputwrapper ng-valid p-inputwrapper-filled ng-touched ng-dirty">
        </p-inputNumber>
        <div class="flex items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5">
          <button [disabled]="!quantity" pButton pRipple label="Add to Cart" (click)="handleAddToCartClick()"
            class="flex-1 mr-5 bg-blue-500 px-4 py-3 text-white"></button>
          <i class="pi text-2xl cursor-pointer pi-heart text-gray-600"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="similarProducts.length">
    <div class="font-medium text-2xl">Similar Product</div>
    <div class="w-full flex items-stretch overflow-x-auto gap-4">
      <div *ngFor="let prod of similarProducts" class="min-w-[200px] w-[200px] flex">
        <div routerLink="/products/{{prod.id}}"
          class="flex-1 px-4 py-2 group relative border rounded-lg shadow-md cursor-pointer">
          <img [src]="prod.productImages[0].imgUrl" alt="">
          <div class="text-center p-4">
            <span class="font-medium text-xl group-hover:text-blue-400 group-hover:font-bold">{{prod.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-tabView>
    <p-tabPanel header="Details">
      <p class="leading-6 text-gray-500 p-0 mx-0 mt-0 mb-4" [innerHTML]="product.description">
      </p>
    </p-tabPanel><!---->
    <p-tabPanel header="Reviews">
      <app-form-review (postReviewSuccess)="getProductDetails(product.id)"></app-form-review>
      <ul class="list-none p-0 mt-4">
        <ng-container *ngFor="let item of product.reviews">
          <app-reviews [review]="item"></app-reviews>
        </ng-container>
      </ul>
    </p-tabPanel>
  </p-tabView>
</div>
<p-toast></p-toast>
