<div id="slideover-cart" class="bg-white absolute top-0 right-0 shadow-md w-full h-full overflow-hidden">
  <div class="flex flex-col h-full">
    <div class="bg-gray-100 p-3 flex">
      <p-button (click)="handleHideSidebar()" pRipple icon="pi pi-chevron-right"
        styleClass="p-button-rounded p-button-secondary p-button-text">
      </p-button>
      <div class="border-r border-gray-300 mx-3"></div><span
        class="text-gray-900 text-xl font-medium inline-flex items-center ml-1">Your Cart</span>
    </div>
    <div class="flex-auto overflow-y-auto py-5 px-3 md:px-5">
      <ng-container *ngIf="cartItems.length; else emptyCart">
        <div class="flex items-center bg-green-50 text-green-600 text-sm p-2 rounded-md mb-4"><i
            class="pi pi-check mr-2"></i><span>Item has been added to your cart.</span></div>
        <div *ngFor="let item of cartItems" class="flex items-start sm:items-center mb-4">
          <img [src]="item.productImages[0].imgUrl"
            class="w-24 h-24 sm:w-32 sm:h-32 object-contain flex-shrink-0 border rounded-md">
          <div class="flex-auto px-3">
            <div class="flex items-center justify-between mb-3">
              <span class="text-gray-900 font-medium">
                {{ item.name }}</span>
              <span class="text-gray-900 font-bold">{{item.productAttributes[0].discountPrice ||
                item.productAttributes[0].originPrice | currency}}</span>
            </div>
            <div class="text-gray-600 text-sm mb-3">{{item.productAttributes[0].weight}}
              {{item.productAttributes[0].weightUnit}}</div>
            <div class="flex flex-auto justify-between items-center">
              <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                [(ngModel)]="item.quantity" [min]="0" [max]="item.stock"
                inputStyleClass="w-[3rem] text-center py-2 px-1"
                decrementButtonClass="p-button-text text-blue-400 py-1 px-1"
                incrementButtonClass="p-button-text text-blue-400 py-1 px-1" incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
                class="border rounded-md ng-untouched ng-pristine ng-valid p-inputwrapper-filled">
              </p-inputNumber>
              <button pButton pRipple icon="pi pi-trash" (click)="handleDeleteItem(item.id)"
                class="p-button-rounded text-red-500 active:bg-red-50 p-button-text">
              </button>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
    <div class="border-t p-3">
      <div *ngIf="cartItems.length" class="flex items-center justify-between mb-3">
        <span class="text-gray-900 font-medium">Total Amount
          <span class="text-gray-600 text-sm">incl. VAT</span>
        </span>
        <span class="text-gray-900 font-bold">{{getTotalAmount() | currency}}</span>
      </div>
      <button pButton [disabled]="!cartItems.length" pRipple label="Check Out"
        class="p-button-success px-3 py-2 text-white bg-green-500 border-2 border-green-500 mt-3 w-full"></button>
      <button pButton pRipple label="Continue Shopping"
        class="p-button-outlined p-button-secondary w-full px-3 py-2 border-2 border-gray-500 mt-3"
        (click)="handleHideSidebar()"></button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <span>Your cart is empty</span>
</ng-template>
