body {
    font-family: Arial, sans-serif;
}

.h2{
    font-size: 15px;
}
.text-center a:hover {
    text-decoration: underline;
}



.col-md-6.mt-4 {
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 15px;
    height: 500px;
}
h2{
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 30px;
}
.form-check{
    padding-top: 15px ;
    padding-bottom: 15px ;
}
.text-center{
    padding-top: 30px;
}
.col-md-6{
    margin-bottom: 30px;

}
input.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 10px; 
}
input.form-control:hover {
    border-color: #aaa;
}
input.form-control:focus {
    box-shadow: none; 
    border-color: #aaa;
}