<div *ngIf="product" class="p-4 border rounded-lg">
  <img [routerLink]="'/products/' + product.id" [src]="product.productImages[0].imgUrl"
    class="w-full max-h-[300px] object-contain">
  <div class="flex items-center justify-between mt-5 mb-3">
    <a class="text-gray-900 font-medium text-xl" [routerLink]="'/products/' + product.id">{{
      product.name }}</a>
    <p-dropdown [(ngModel)]="selectedAttribute" [options]="attributes" optionLabel="label"
      optionValue="value"></p-dropdown>
  </div>
  <div class="text-gray-900 text-xl font-medium my-3 flex gap-2 items-end">{{ currentAttribute?.discountPrice| currency:'INR':'symbol-narrow'
    }}<span *ngIf="currentAttribute?.discountPercent" class="text-base line-through"> | {{
      currentAttribute?.originPrice| currency:'INR':'symbol-narrow' }}</span>
    <p-tag *ngIf="currentAttribute?.discountPercent" severity="warning"
      [value]="currentAttribute?.discountPercent + '%'"></p-tag>
  </div>
  <div class="flex justify-between gap-3">
    <button pButton icon="pi pi-shopping-cart" pRipple label="Add to Cart" (click)="handleAddToCartClick()"
      class="flex-1 bg-green-500 font-normal px-4 py-1 text-white"></button>
    <button pButton icon="pi pi-heart" pRipple class="bg-pink-500 px-4 py-1 text-white"></button>
    <button pButton icon="pi pi-search" pRipple class="bg-blue-500 px-4 py-1 text-white"></button>
  </div>
</div>
<p-toast></p-toast>
