<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid grid-nogutter -mt-3 -ml-3 -mr-3">
    <div class="col-12 lg:col-6 p-3">
      <div class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover"
        style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://blocks.primeng.org/assets/images/blocks/ecommerce/categorypreview/category-preview-1-9.png); min-height: 50rem;">
        <div class="p-4 align-self-start">
          <div class="text-white text-2xl font-bold mb-2">Update Categories</div><span
            class="text-white text-lg line-height-3">Quis varius quam quisque id diam. A pellentesque sit amet porttitor
            eget. Vitae purus faucibus ornare suspendisse sed nisi lacus.</span>
        </div>
        <div class="p-4 align-self-end"><a
            class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Shop
            Now<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a></div>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="grid grid-nogutter lg:flex-column">
        <div class="col-12 p-3">
          <div class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover h-25rem"
            style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://blocks.primeng.org/assets/images/blocks/ecommerce/categorypreview/category-preview-1-10.png);">
            <div class="p-4 align-self-start">
              <div class="text-white text-2xl font-bold mb-2">Category Title</div><span
                class="text-white text-lg line-height-3">Quis varius quam quisque id diam</span>
            </div>
            <div class="p-4 align-self-end"><a
                class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Shop
                Now<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a></div>
          </div>
        </div>
        <div class="col-12 p-3">
          <div class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover h-25rem"
            style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://blocks.primeng.org/assets/images/blocks/ecommerce/categorypreview/category-preview-1-11.png);">
            <div class="p-4 align-self-start">
              <div class="text-white text-2xl font-bold mb-2">Category Title</div><span
                class="text-white text-lg line-height-3">Vitae purus faucibus ornare</span>
            </div>
            <div class="p-4 align-self-end"><a
                class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Shop
                Now<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
