<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid grid-nogutter -mt-3 -ml-3 -mr-3">
    <div class="col-12 lg:col-6 p-3">
      <div class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover"
        [ngStyle]="{'background' : 'linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + mainCategory?.thumbnail + ')'}"
        style="min-height: 30rem;">
        <div class="p-4 align-self-start">
          <div class="text-white text-2xl font-bold mb-2">{{ mainCategory?.name }}</div>
          <span class="text-white text-lg line-height-3">Quis varius quam quisque id diam. A pellentesque sit amet
            porttitor
            eget. Vitae purus faucibus ornare suspendisse sed nisi lacus.</span>
        </div>
        <div class="p-4 align-self-end"><a
            class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Shop
            Now<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a></div>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="grid grid-nogutter lg:flex-column">
        <div *ngFor="let item of categories" class="col-12 p-3">
          <div
            class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-contain bg-center h-10rem"
            [ngStyle]="{'background' : 'linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + item.thumbnail + ')'}">
            <div class="p-3 align-self-start">
              <div class="text-white text-2xl font-bold mb-2">{{ item.name }}</div><span
                class="text-white text-lg line-height-3">Quis varius quam quisque id diam</span>
            </div>
            <div class="p-3 align-self-end"><a
                class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Shop
                Now<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
