<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section>
        <h2>Greetings from DryFruit Basket!</h2>
        <p>Fruits GR is a premium health food brand and online dry fruit store in India. Established in 2023, we are dedicated to providing quality wholesale dry fruits online that are rich in nutrients and taste.</p>
        <p>Our hygienic packaging ensures that each product is carefully sealed to preserve its flavour and freshness. Be it for your personal health goals or luxury gifting solutions, Fruits GR simplifies dry fruits online shopping by bringing quality, flavour, and packaging under one roof .</p>
    </section>
    <img src="../../../assets/imgs/about-us-bg-img.jpg" alt="">
    <section>
        <h2>Our Vision</h2>
        <p>We envision becoming the customer’s first choice for dry fruits and nuts, by bringing the freshest and highest quality to maximum number of customers through our online venture.</p>
        <h3>Mission</h3>
        <p>We endeavor to achieve our vision by following a pro-customer approach and adhering to international standards of quality, right from selection of dry fruits and nuts to product delivery.</p>
    </section>
</body>
