<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section>
        <h2>Our Story</h2>
        <p>Welcome to our online store specializing in fresh, high-quality fruits. We are dedicated to providing our customers with the freshest and most delicious fruits available.</p>
    </section>
    <img src="../../../assets/imgs/about.jpg" alt="">
    <section>
        <h2>Our Mission</h2>
        <p>Our mission is to promote a healthy lifestyle by offering the best selection of fruits at affordable prices. We are committed to sourcing our fruits from local farmers whenever possible.</p>
    </section>
</body>
