/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.p-sidebar-header,
.p-sidebar-footer {
  padding: 0;
}

// .p-tabview-nav-link[aria-selected="true"] {
//   @apply text-green-500;
// }

.p-tabview-nav-link {
  @apply border-b-2 border-gray-300 text-gray-500;

  &:hover {
    @apply border-gray-700 text-gray-600;
  }

  &[aria-selected="true"] {
    @apply text-green-500 border-green-500;
  }
}

.p-tabview .p-tabview-nav {
  @apply border-b-2 border-gray-300 bg-white;
}
